<%- include('./includes/header') -%>

<h1>Login User Form</h1>

<form action="/login" method="post">
	<div class="form-group">
		<label for="inputEmail">Email</label>
		<input type="email" name="email"  class="form-control" id="inputEmail" placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="inputPassword">Password</label>
		<input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>

    <p><small>Hint - ptitsynamv@gmail.com : password</small></p>

    <% if (message) { %>
    <small>Error: <%= message %>!</small>
    <% } %>

</form>
<%- include('./includes/footer') -%>
