<%- include('./includes/header') -%>

<h1>Register Client Form</h1>
<form action="/register-client" method="post">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control"  name="name" id="inputName" placeholder="Enter name">
    </div>

    <div class="form-group">
        <label for="inputClientId">Client Id</label>
        <input type="text" class="form-control"  name="clientId" id="inputClientId" placeholder="Enter client id">
    </div>

    <div class="form-group">
        <label for="inputClientSecret">Client Secret</label>
        <input type="text" class="form-control"  name="clientSecret" id="inputClientSecret" placeholder="Enter client secret">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

    <% if (message) { %>
    <small>Error: <%= message %>!</small>
    <% } %>
</form>

<%- include('./includes/footer') -%>
