<%- include('./includes/header') -%>

   <ul>
       <li><a href="/oauth2/authorize?response_type=code&client_id=antropogenez-client-id&redirect_uri=http://localhost:3001/test/authorization-code&scope=read
">Authorization Code</a></li>
   </ul>

<%- include('./includes/footer') -%>