<!DOCTYPE html>
<html>
<head>
    <title>My OAuth2orize</title>
    <link href="../../css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register-user">Register User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/register-client">Register Client</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/account">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>

    <div class="row">
        <div class="col">